<h1>"Welcome One and All to the Magical Creatures Website!"</h1>
<p>Here is an index of Magical Creatures within all lores and realms!</p>


<img src = "https://i.pinimg.com/originals/94/96/ed/9496edb5218b25538455f3fa582fba8a.jpg" />

<br />

<a href="/creatures">Creatures</a>
